:root{
    --main-color:#BBDEFB
}


.filling:nth-child(even){
    background-color:var(--main-color)
}

.filling:nth-child(odd):hover{
    background-color:var(--main-color);
}

.fillingItems:nth-child(odd){
    background-color:var(--main-color) ;
}